
<!-- <h1>Olá Anna Julia Mendes Tenorio, tudo bem ?</h1>
<br>
<h2 style="color:white">Viemos comunicar que seu nome foi declarado sujo no dia <strong>18 de dezembro de 2022</strong>, por motivos de não pagamento de débitos referente à uma compra realizada no dia 02 de Fevereiro de 2022 ! </h2> <br>
<img src="https://www.suno.com.br/wp-content/uploads/2020/06/serasa.jpg" alt="serasa">
<br>
<h2 style="color:white">para mais informações à respeito de seus débitos, <strong>acesse:</strong> www.serasalimpanome.com.br ou baixe nosso <strong>app na sua loja de aplicativos ! </strong> </h2>
<h3> Google Play: https://play.google.com/ </h3>
<h3> Apple Store: https://www.apple.com/br/store </h3> -->